# Python virtual environment
venv/
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# Logs
*.log 